[submodule "sesami-lock-auto-lock-unlock/OPL_Kicad_Library"]
	path = sesami-lock-auto-lock-unlock/OPL_Kicad_Library
	url = https://github.com/Seeed-Studio/OPL_Kicad_Library
[submodule "sesame-lock-auto-lock-unlock/OPL_Kicad_Library"]
	path = sesame-lock-auto-lock-unlock/OPL_Kicad_Library
	url = https://github.com/Seeed-Studio/OPL_Kicad_Library
